# local path where to store MongoDB
MONGODB_PATH=./mongodb
# MongoDB port
MONGODB_PORT=27017

# Mongo Express port
MONGO_EXPRESS_PORT=8081
# Mongo Express username
MONGO_EXPRESS_USERNAME=username
# Mongo Express password
MONGO_EXPRESS_PASSWORD=password

# Open API key
 OPEN_API_SECRET_KEY=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